body {
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: 'Press Start 2P', monospace;
}

#wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
}

#mainMenuWrapper {
    height: 600px;
    width: 500px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    border: 5px solid rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: xx-large;
}

#startGameContainer, #joinGameContainer, #highscoresContainer, #musicContainer, #loginDiv, #registerDiv {
    cursor: pointer;
    color: whitesmoke;
}

#startGame:hover, #joinGame:hover, #highscores:hover, #music:hover, #registerDiv:hover, #loginDiv:hover {
    color: white;
    filter: drop-shadow(0 0 0.75rem white);
}

#usernameDiv, #passwordDiv {
    margin-bottom: 2rem;
    color: whitesmoke;
}

#usernameInputfield, #lobbyNameInput, #lobbyPasswordInput {
    width: 18rem;
    height: 2.4rem;
    background: none;
    color: whitesmoke;
    text-align: center;
    border-radius: 10px;
    border: 5px solid rgba(245, 245, 245, 0.9);
}

#passwordInputfield {
    width: 18rem;
    height: 2.4rem;
    background: none;
    color: whitesmoke;
    text-align: center;
    border-radius: 10px;
    border: 5px solid rgba(245, 245, 245, 0.9);
}

input::placeholder {
    color: white;
    opacity: 1;
    font-family: 'Press Start 2P', monospace;
}

input:focus {
    outline: none;
    box-shadow: none;
}
  
input:focus::placeholder {
opacity: 0;
}

#loginButton, #registerButton, #createLobbyButton {
    font-family: 'Press Start 2P', monospace;
    height: 2.4rem;
    padding: 10px;
    background: rgba(0, 0, 0, 0.7);
    border: 2px solid rgba(0, 0, 0, 0.9);
    color: white;
    cursor: pointer;
}

#loginButton:hover, #registerButton:hover, #createLobbyButton:hover {
    color: white;
    filter: drop-shadow(0 0 0.75rem white);
}

h6 {
    font-size: small;
}

#topDiv {
    color: white;
    display: flex;
    font-size: small;
    justify-content: space-between;
    width: 100%;
}

#usernameP:hover, #lobbyNameP:hover, #passwordP:hover {
    color: inherit;
    background-color: inherit;
    pointer-events: none;
}

#midDiv {
    width: 100%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#midDiv > p {
    height: 3rem;
}

#modal {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background:rgba(0, 0, 0, 0.7);
    text-align: center;
}

#modalTop {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#modalExit, #returnBtn {
    height: 2.5rem;
    width: 2.5rem;
}

#modalContent {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#modalInstruction {
    width: 18rem;
    height: 2.4rem;
    color: whitesmoke;
}

#modalPassword {
    width: 18rem;
    height: 2.4rem;
    background: whitesmoke;
}

#sendRequestButton {
    font-family: 'Press Start 2P', monospace;
    height: 2.4rem;
    padding: 10px;
    background: whitesmoke;
    border: 2px solid rgba(0, 0, 0, 0.9);
    color: rgba(0, 0, 0, 0.9);
    cursor: pointer;
}

.playerContainer {
    display: flex;
    flex-direction:column;
    gap: 0.5rem;
    color: whitesmoke;
    font-size: medium;
    margin-left: 1.5rem;
}

.lobbiesDisplay {
    padding-top: 4px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.lobbyDiv {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(245, 245, 245, 0.7);
    color: white;
    padding: 4px;
    font-size: x-small;
    box-sizing: border-box;
    cursor: pointer;
}

.active {
    border: 1px dashed white;
}